* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url(polyfills/boxsizing.htc);
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden] {
  display: none;
}
/* ============ */
/* === BASE === */
/* ============ */
html {
  font-size: 100%;
  /* 1 */

  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  /* 2 */

}
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}
body {
  margin: 0;
}
a:focus {
  outline: thin dotted;
}
a:hover,
a:active {
  outline: 0;
}
ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
  list-style-image: none;
}
dl,
menu,
ol.normal,
ul.normal {
  margin: 1em 0;
}
dd {
  margin: 0 0 0 40px;
}
menu,
ol.normal,
ul.normal {
  padding: 0 0 0 40px;
}
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}
img {
  border: 0;
  /* 1 */

  -ms-interpolation-mode: bicubic;
  /* 2 */

}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
form {
  margin: 0;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px;
}
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}
button,
input {
  line-height: normal;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}
button[disabled],
input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px;
}
input[type="search"] {
  -webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.group,
.clearfix {
  *zoom: 1;
}
.group:before,
.clearfix:before,
.group:after,
.clearfix:after {
  display: table;
  content: " ";
  zoom: 1;
}
.group:after,
.clearfix:after {
  clear: both;
}
.center_block {
  display: block;
  margin: 0 auto;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 28px;
  /* Make inputs at least the height of their button counterpart */

  /* Makes inputs behave like true block-level elements */

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
@font-face {
  font-family: 'acknowledge_tt_brkregular';
  src: url('../fonts/acknowtt-webfont.eot');
  src: url('../fonts/acknowtt-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/acknowtt-webfont.woff') format('woff'), url('../fonts/acknowtt-webfont.ttf') format('truetype'), url('../fonts/acknowtt-webfont.svg#acknowledge_tt_brkregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-size: 1rem;
  line-height: 24px;
  line-height: 1.5rem;
  color: #808080;
  background-color: #ffffff;
}
p {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-size: 1rem;
  line-height: 24px;
  line-height: 1.5rem;
  margin-top: 0;
  margin-bottom: 24px;
}
p small {
  font-size: 14;
  color: #bfbfbf;
}
.lead {
  margin-bottom: 24px;
  font-size: 20px;
  font-weight: 200;
  line-height: 36px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: inherit;
  font-weight: bold;
  color: #404040;
  text-rendering: optimizelegibility;
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
  font-weight: normal;
  color: #bfbfbf;
}
h1,
.alpha {
  color: #ffffff;
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 20px;
  line-height: 1.25rem;
  margin-top: 5%;
  text-transform: uppercase;
}
h1 small,
.alpha small {
  font-size: 18px;
  font-size: 1.125rem;
}
@media (min-width: 600px) {
  h1,
  .alpha {
    font-size: 34px;
    font-size: 2.125rem;
    line-height: 32px;
    line-height: 2rem;
  }
}
h2 {
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 32px;
  line-height: 2rem;
}
h2 small {
  font-size: 18px;
  font-size: 1.125rem;
}
h3 {
  font-size: 26px;
  font-size: 1.625rem;
  line-height: 48px;
  line-height: 3rem;
  margin-top: 24px;
  margin-bottom: 0px;
}
h3 small {
  font-size: 14px;
  font-size: 0.875rem;
}
h4,
h5,
h6 {
  line-height: 48px;
  line-height: 3rem;
}
h4 {
  font-size: 14px;
  font-size: 0.875rem;
}
h4 small {
  font-size: 12px;
  font-size: 0.75rem;
}
h5 {
  font-size: 12px;
  font-size: 0.75rem;
}
h6 {
  font-size: 11px;
  font-size: 0.6875rem;
  color: #bfbfbf;
  text-transform: uppercase;
}
.page-header {
  padding-bottom: 23px;
  margin: 24px 0;
  border-bottom: 1px solid #e6e6e6;
}
.page-header h1 {
  line-height: 1;
}
a {
  color: #049cdb;
  text-decoration: none;
}
a:hover {
  color: #0378a9;
}
ul.normal,
ol.normal {
  padding: 0;
  margin: 0 0 12px 25px;
  font-size: 16;
}
ul.normal ul,
ol.normal ul,
ul.normal ol,
ol.normal ol {
  margin: 0 0 0 45px;
}
ul.normal ul,
ol.normal ul {
  list-style-type: circle;
}
ul.normal ul ul,
ol.normal ul ul {
  list-style-type: square;
}
ul.normal ol,
ol.normal ol {
  list-style-type: upper-roman;
}
ul.normal ol ol,
ol.normal ol ol {
  list-style-type: lower-roman;
}
ul.normal li,
ol.normal li {
  line-height: 24px;
}
ul.normal {
  list-style-type: disc;
}
ol.normal {
  list-style-type: decimal;
}
ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0;
}
ul.unstyled,
ol.unstyled {
  margin-left: 0;
  list-style: none;
}
dl {
  margin-bottom: 24px;
}
dt,
dd {
  line-height: 24px;
}
dt {
  font-weight: bold;
  line-height: 23px;
}
dd {
  margin-left: 12px;
}
.dl-horizontal dt {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  float: left;
  clear: left;
  width: 120px;
  text-align: right;
}
.dl-horizontal dd {
  margin-left: 130px;
}
hr {
  margin: 24px 0;
  border: 0;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #ffffff;
}
strong,
b {
  font-weight: bold;
}
em,
i {
  font-style: italic;
}
.muted {
  color: #bfbfbf;
}
abbr[title] {
  border-bottom: 1px dotted #ddd;
  cursor: help;
}
abbr.initialism {
  font-size: 90%;
  text-transform: uppercase;
}
blockquote {
  padding: 0 0 0 15px;
  margin: 0 0 24px;
  border-left: 5px solid #e6e6e6;
}
blockquote p {
  margin-bottom: 0;
  font-size: 16;
  font-weight: 300;
  line-height: 30px;
}
blockquote small {
  display: block;
  line-height: 24px;
  color: #bfbfbf;
}
blockquote small:before {
  content: '\2014 \00A0';
}
blockquote.pull-right {
  float: right;
  padding-left: 0;
  padding-right: 15px;
  border-left: 0;
  border-right: 5px solid #e6e6e6;
}
blockquote.pull-right p,
blockquote.pull-right small {
  text-align: right;
}
q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
}
address {
  display: block;
  margin-bottom: 24px;
  line-height: 24px;
  font-style: normal;
}
small {
  font-size: 75%;
}
cite {
  font-style: normal;
}
dfn {
  font-style: italic;
}
mark {
  background: #ff0;
  color: #000;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
.text-centre,
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
img {
  font-style: italic;
  color: #c00;
  border: 0;
  -ms-interpolation-mode: bicubic;
}
img.left {
  margin: 0 20px 0 0;
}
img.right {
  margin: 0 0 0 20px;
}
svg:not(:root) {
  overflow: hidden;
}
img,
object,
embed,
video {
  max-width: 100%;
}
#map_canvas img,
.map_canvas img {
  max-width: none!important;
}
.block-grid {
  display: block;
  list-style-type: none;
  *zoom: 1;
}
.block-grid:before,
.block-grid:after {
  display: table;
  content: " ";
  zoom: 1;
}
.block-grid:after {
  clear: both;
}
.block-grid li {
  display: block;
  height: auto;
  float: left;
}
.block-grid.two-up {
  margin-left: -4%;
}
.block-grid.two-up li {
  margin-left: 4%;
  width: 46%;
  margin-bottom: 4%;
}
.block-grid.three-up {
  margin-left: -2%;
}
.block-grid.three-up li {
  margin-left: 2%;
  width: 31.3%;
  margin-bottom: 2%;
}
.block-grid.four-up {
  margin-left: -2%;
}
.block-grid.four-up li {
  margin-left: 2%;
  width: 23%;
  margin-bottom: 2%;
}
.block-grid.five-up {
  margin-left: -1.5%;
}
.block-grid.five-up li {
  margin-left: 1.5%;
  width: 18.5%;
  margin-bottom: 1.5%;
}
ul.centred,
ul.centered {
  text-align: center;
}
ul.centred li,
ul.centered li {
  display: inline;
}
.floated {
  *zoom: 1;
}
.floated:before,
.floated:after {
  display: table;
  content: " ";
  zoom: 1;
}
.floated:after {
  clear: both;
}
.floated li {
  float: left;
  display: inline-block;
}
.well {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #eee;
  border: 1px solid rgba(0, 0, 0, 0.05);
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -o-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
.well blockquote {
  border-color: #ddd;
  border-color: rgba(0, 0, 0, 0.15);
}
.well-large {
  padding: 24px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
}
.well-small {
  padding: 9px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
.btn {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */

  *zoom: 1;
  padding: 5px 10px;
  margin-bottom: 0;
  font-size: 16px;
  font-size: 1rem;
  line-height: 24px;
  line-height: 1.5rem;
  color: #404040;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  background-color: #e6e6e6;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#ffffff), to(#e6e6e6));
  /* Konqueror */

  background-image: -moz-linear-gradient(#ffffff, #e6e6e6);
  /* FF 3.6+ */

  background-image: -ms-linear-gradient(#ffffff, #e6e6e6);
  /* IE10 */

  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #e6e6e6));
  /* Safari 4+, Chrome 2+ */

  background-image: -webkit-linear-gradient(#ffffff, #e6e6e6);
  /* Safari 5.1+, Chrome 10+ */

  background-image: -o-linear-gradient(#ffffff, #e6e6e6);
  /* Opera 11.10 */

  background-image: -ms-linear-gradient(top, #ffffff 0%, #e6e6e6 100%);
  /* IE10+ */

  background-image: linear-gradient(#ffffff, #e6e6e6);
  /* the standard */

  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  *background-color: #e6e6e6;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  border: 1px solid #cccccc;
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
  -o-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
  box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
  cursor: pointer;
  *margin-left: .3em;
  /* Remove the border to prevent IE7's black border on input:focus */

  *border: 0;
  *line-height: 20px;
}
.btn:hover,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
}
.btn:active,
.btn.active {
  background-color: #cccccc \9;
}
.btn:first-child {
  *margin-left: 0;
}
.btn:hover {
  color: #404040;
  text-decoration: none;
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
  -moz-transition: background-position 0.1s linear;
  -o-transition: background-position 0.1s linear;
  transition: background-position 0.1s linear;
}
.btn:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn.active,
.btn:active {
  background-image: none;
  -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
  -o-box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
  box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
  background-color: #e6e6e6;
  background-color: #d9d9d9 \9;
  outline: 0;
}
.btn.disabled,
.btn[disabled] {
  cursor: default;
  background-image: none;
  background-color: #e6e6e6;
  zoom: 1;
  filter: alpha(opacity=65);
  opacity: 0.65;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}
.btn [class^="icon-"] {
  margin-top: 2px;
}
.btn-large {
  padding: 9px 14px;
  font-size: 18px;
  font-size: 1.125rem;
  line-height: normal;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
.btn-large [class^="icon-"] {
  margin-top: 4px;
}
.btn-small {
  padding: 5px 9px;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 22px;
  line-height: 1.375rem;
}
.btn-small [class^="icon-"] {
  margin-top: 1px;
}
.btn-mini {
  padding: 2px 6px;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 20px;
  line-height: 1.25rem;
}
.btn-primary,
.btn-primary:hover,
.btn-warning,
.btn-warning:hover,
.btn-danger,
.btn-danger:hover,
.btn-success,
.btn-success:hover,
.btn-info,
.btn-info:hover,
.btn-inverse,
.btn-inverse:hover {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  color: #ffffff;
}
.btn-primary.active,
.btn-warning.active,
.btn-danger.active,
.btn-success.active,
.btn-info.active,
.btn-inverse.active {
  color: rgba(255, 255, 255, 0.75);
}
.btn-primary {
  background-color: #0466db;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#049cdb), to(#0466db));
  /* Konqueror */

  background-image: -moz-linear-gradient(#049cdb, #0466db);
  /* FF 3.6+ */

  background-image: -ms-linear-gradient(#049cdb, #0466db);
  /* IE10 */

  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #049cdb), color-stop(100%, #0466db));
  /* Safari 4+, Chrome 2+ */

  background-image: -webkit-linear-gradient(#049cdb, #0466db);
  /* Safari 5.1+, Chrome 10+ */

  background-image: -o-linear-gradient(#049cdb, #0466db);
  /* Opera 11.10 */

  background-image: -ms-linear-gradient(top, #049cdb 0%, #0466db 100%);
  /* IE10+ */

  background-image: linear-gradient(#049cdb, #0466db);
  /* the standard */

  border-color: #0466db #0466db #034390;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  *background-color: #0466db;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

}
.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  background-color: #0466db;
  *background-color: #045bc2;
}
.btn-primary:active,
.btn-primary.active {
  background-color: #034fa9 \9;
}
.btn-warning {
  background-color: #f89406;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#fbb450), to(#f89406));
  /* Konqueror */

  background-image: -moz-linear-gradient(#fbb450, #f89406);
  /* FF 3.6+ */

  background-image: -ms-linear-gradient(#fbb450, #f89406);
  /* IE10 */

  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fbb450), color-stop(100%, #f89406));
  /* Safari 4+, Chrome 2+ */

  background-image: -webkit-linear-gradient(#fbb450, #f89406);
  /* Safari 5.1+, Chrome 10+ */

  background-image: -o-linear-gradient(#fbb450, #f89406);
  /* Opera 11.10 */

  background-image: -ms-linear-gradient(top, #fbb450 0%, #f89406 100%);
  /* IE10+ */

  background-image: linear-gradient(#fbb450, #f89406);
  /* the standard */

  border-color: #f89406 #f89406 #ad6704;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  *background-color: #f89406;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

}
.btn-warning:hover,
.btn-warning:active,
.btn-warning.active,
.btn-warning.disabled,
.btn-warning[disabled] {
  background-color: #f89406;
  *background-color: #df8505;
}
.btn-warning:active,
.btn-warning.active {
  background-color: #c67605 \9;
}
.btn-danger {
  background-color: #bd362f;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#ee5f5b), to(#bd362f));
  /* Konqueror */

  background-image: -moz-linear-gradient(#ee5f5b, #bd362f);
  /* FF 3.6+ */

  background-image: -ms-linear-gradient(#ee5f5b, #bd362f);
  /* IE10 */

  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ee5f5b), color-stop(100%, #bd362f));
  /* Safari 4+, Chrome 2+ */

  background-image: -webkit-linear-gradient(#ee5f5b, #bd362f);
  /* Safari 5.1+, Chrome 10+ */

  background-image: -o-linear-gradient(#ee5f5b, #bd362f);
  /* Opera 11.10 */

  background-image: -ms-linear-gradient(top, #ee5f5b 0%, #bd362f 100%);
  /* IE10+ */

  background-image: linear-gradient(#ee5f5b, #bd362f);
  /* the standard */

  border-color: #bd362f #bd362f #802420;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  *background-color: #bd362f;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

}
.btn-danger:hover,
.btn-danger:active,
.btn-danger.active,
.btn-danger.disabled,
.btn-danger[disabled] {
  background-color: #bd362f;
  *background-color: #a9302a;
}
.btn-danger:active,
.btn-danger.active {
  background-color: #942a25 \9;
}
.btn-success {
  background-color: #51a351;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#62c462), to(#51a351));
  /* Konqueror */

  background-image: -moz-linear-gradient(#62c462, #51a351);
  /* FF 3.6+ */

  background-image: -ms-linear-gradient(#62c462, #51a351);
  /* IE10 */

  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #62c462), color-stop(100%, #51a351));
  /* Safari 4+, Chrome 2+ */

  background-image: -webkit-linear-gradient(#62c462, #51a351);
  /* Safari 5.1+, Chrome 10+ */

  background-image: -o-linear-gradient(#62c462, #51a351);
  /* Opera 11.10 */

  background-image: -ms-linear-gradient(top, #62c462 0%, #51a351 100%);
  /* IE10+ */

  background-image: linear-gradient(#62c462, #51a351);
  /* the standard */

  border-color: #51a351 #51a351 #387038;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  *background-color: #51a351;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

}
.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  background-color: #51a351;
  *background-color: #499249;
}
.btn-success:active,
.btn-success.active {
  background-color: #408140 \9;
}
.btn-info {
  background-color: #2f96b4;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#5bc0de), to(#2f96b4));
  /* Konqueror */

  background-image: -moz-linear-gradient(#5bc0de, #2f96b4);
  /* FF 3.6+ */

  background-image: -ms-linear-gradient(#5bc0de, #2f96b4);
  /* IE10 */

  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5bc0de), color-stop(100%, #2f96b4));
  /* Safari 4+, Chrome 2+ */

  background-image: -webkit-linear-gradient(#5bc0de, #2f96b4);
  /* Safari 5.1+, Chrome 10+ */

  background-image: -o-linear-gradient(#5bc0de, #2f96b4);
  /* Opera 11.10 */

  background-image: -ms-linear-gradient(top, #5bc0de 0%, #2f96b4 100%);
  /* IE10+ */

  background-image: linear-gradient(#5bc0de, #2f96b4);
  /* the standard */

  border-color: #2f96b4 #2f96b4 #1f6377;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  *background-color: #2f96b4;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

}
.btn-info:hover,
.btn-info:active,
.btn-info.active,
.btn-info.disabled,
.btn-info[disabled] {
  background-color: #2f96b4;
  *background-color: #2a85a0;
}
.btn-info:active,
.btn-info.active {
  background-color: #24748c \9;
}
.btn-inverse {
  background-color: #262626;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#808080), to(#262626));
  /* Konqueror */

  background-image: -moz-linear-gradient(#808080, #262626);
  /* FF 3.6+ */

  background-image: -ms-linear-gradient(#808080, #262626);
  /* IE10 */

  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #808080), color-stop(100%, #262626));
  /* Safari 4+, Chrome 2+ */

  background-image: -webkit-linear-gradient(#808080, #262626);
  /* Safari 5.1+, Chrome 10+ */

  background-image: -o-linear-gradient(#808080, #262626);
  /* Opera 11.10 */

  background-image: -ms-linear-gradient(top, #808080 0%, #262626 100%);
  /* IE10+ */

  background-image: linear-gradient(#808080, #262626);
  /* the standard */

  border-color: #262626 #262626 #000000;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  *background-color: #262626;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

}
.btn-inverse:hover,
.btn-inverse:active,
.btn-inverse.active,
.btn-inverse.disabled,
.btn-inverse[disabled] {
  background-color: #262626;
  *background-color: #191919;
}
.btn-inverse:active,
.btn-inverse.active {
  background-color: #0d0d0d \9;
}
button.btn,
input[type="submit"].btn {
  *padding-top: 2px;
  *padding-bottom: 2px;
}
button.btn::-moz-focus-inner,
input[type="submit"].btn::-moz-focus-inner {
  padding: 0;
  border: 0;
}
button.btn.btn-large,
input[type="submit"].btn.btn-large {
  *padding-top: 7px;
  *padding-bottom: 7px;
}
button.btn.btn-small,
input[type="submit"].btn.btn-small {
  *padding-top: 3px;
  *padding-bottom: 3px;
}
button.btn.btn-mini,
input[type="submit"].btn.btn-mini {
  *padding-top: 1px;
  *padding-bottom: 1px;
}
html,
body,
.main {
  width: 100%;
  height: 100%;
}
body {
  overflow: hidden;
}
#levelSelect {
  overflow: hidden;
  height: 100%;
  vertical-align: middle;
  line-height: 0;
  background: #000000;
}
.imgWrapper {
  position: relative;
  margin: 0 auto;
  text-align: center;
  max-width: 998px;
}
#levelSelect.fadeScreen {
  height: 0px;
  -webkit-transition: all 1000ms linear;
  -moz-transition: all 1000ms linear;
  -o-transition: all 1000ms linear;
  transition: all 1000ms linear;
}
.marioFlat {
  position: absolute;
  width: 8%;
  top: 20%;
  left: 8.5%;
}
.startScreen .marioFlat {
  -webkit-animation: flat-mario 1000ms 600ms linear;
  -moz-animation: flat-mario 1000ms 600ms linear;
  -ms-animation: flat-mario 1000ms 600ms linear;
  animation: flat-mario 1000ms 600ms linear;
  -moz-animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}
.textBox,
.moveText {
  padding: 0 2%;
  background: #9ce8f2;
  border: 4px solid #000000;
  font-family: 'acknowledge_tt_brkregular';
  letter-spacing: 1px;
  text-shadow: 2px 0 0 #000000, -2px 0 0 #000000, 0 2px 0 #000000, 0 -2px 0 #000000, -2px -2px 0 #000000, 2px 2px 0 #000000, -2px 2px 0 #000000, 2px 2px 0 #000000, 2px -2px 0 #000000;
}
.textBox {
  overflow: hidden;
  position: absolute;
  width: 60%;
  height: 50%;
  top: 50%;
  left: 50%;
  margin: -25% 0 0 -30%;
}
.textBox.fade {
  width: 0;
  margin: 0;
  height: 0;
  border: 0;
  -webkit-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -o-transition: all 300ms linear;
  transition: all 300ms linear;
}
.fade * {
  display: none;
}
.startBtn {
  border: 1px solid #000000;
  background: #ffffff;
  text-transform: uppercase;
  font-family: 'acknowledge_tt_brkregular';
  color: #000000;
  margin-top: 10%;
  font-size: 28px;
  font-size: 1.75rem;
}
.moveText {
  display: none;
  position: fixed;
  right: 40px;
  top: 10px;
  padding: 10px 20px 20px;
  width: 240px;
  text-align: center;
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 26px;
  line-height: 1.625rem;
}
.moveText:after {
  content: '';
  width: 0;
  position: absolute;
  right: -40px;
  top: -20px;
  border-left: 40px solid #000000;
  border-top: 90px solid transparent;
  border-bottom: 90px solid transparent;
}
.mario,
.goomba,
.mushroom,
.piranha,
.fireball,
.qbox-sprite,
.coin {
  background: url('../img/mario-sprite.png') no-repeat;
}
.main {
  position: absolute;
  width: 6000px;
  background: url('../img/bg-level.png') no-repeat 0 bottom;
}
.mario {
  width: 42px;
  height: 58px;
  position: absolute;
  z-index: 10;
  bottom: 29px;
  left: 20px;
  -webkit-transform: scalex(-1);
  -moz-transform: scalex(-1);
  -o-transform: scalex(-1);
  transform: scalex(-1);
  background-position: 0 top;
}
.goomba {
  width: 34px;
  height: 32px;
  position: absolute;
  background-position: -2px -696px;
}
.goomba.dead {
  background-position: -46px -696px;
}
.enemy1 {
  bottom: 37px;
  left: 450px;
}
.enemy3 {
  bottom: 37px;
  left: 1200px;
}
.turtle {
  width: 35px;
  height: 57px;
  position: absolute;
}
.enemy4 {
  bottom: 137px;
  left: 1400px;
}
.goomba-winged {
  width: 42px;
  height: 38px;
  position: absolute;
}
.mushroom {
  width: 41px;
  height: 41px;
  position: absolute;
  bottom: 254px;
  left: 549px;
  background-position: -200px -700px;
  zoom: 1;
  filter: alpha(opacity=65);
  opacity: 0;
}
.piranha {
  width: 37px;
  height: 74px;
  position: absolute;
  background-position: -108px -690px;
}
.enemy2 {
  bottom: 146px;
  left: 829px;
}
.fireball {
  width: 18px;
  height: 20px;
  position: absolute;
  bottom: 206px;
  left: 810px;
  background-position: -164px -701px;
}
.qbox {
  position: absolute;
  z-index: 3;
}
.qbox-sprite {
  position: absolute;
  z-index: 4;
  width: 37px;
  height: 56px;
  background-position: -1px -745px;
  zoom: 1;
  filter: alpha(opacity=65);
  opacity: 0;
}
.qbox1 {
  position: absolute;
  bottom: 128px;
  left: 405px;
}
.qbox2 {
  position: absolute;
  bottom: 128px;
  left: 442px;
}
.qbox3 {
  position: absolute;
  bottom: 239px;
  left: 516px;
}
.qbox4 {
  position: absolute;
  bottom: 239px;
  left: 553px;
}
.qbox5 {
  position: absolute;
  bottom: 202px;
  left: 958px;
}
.coin {
  position: absolute;
  z-index: 2;
  background-position: -48px -745px;
  width: 32px;
  height: 37px;
  zoom: 1;
  filter: alpha(opacity=65);
  opacity: 0;
}
.coin1 {
  left: 408px;
  bottom: 182px;
  -webkit-transform: scalex(0.25);
  -moz-transform: scalex(0.25);
  -o-transform: scalex(0.25);
  transform: scalex(0.25);
}
.coin2 {
  left: 440px;
  bottom: 182px;
  -webkit-transform: scalex(0.25);
  -moz-transform: scalex(0.25);
  -o-transform: scalex(0.25);
  transform: scalex(0.25);
}
.coin3 {
  left: 960px;
  bottom: 262px;
  -webkit-transform: scalex(0.25);
  -moz-transform: scalex(0.25);
  -o-transform: scalex(0.25);
  transform: scalex(0.25);
}
@media screen and (min-width: 320px) {
  .startAnim.main {
    -webkit-animation-name: stagemove-first;
    -moz-animation-name: stagemove-first;
    -ms-animation-name: stagemove-first;
    animation-name: stagemove-first;
    -webkit-animation-duration: 10s;
    -moz-animation-duration: 10s;
    -ms-animation-duration: 10s;
    animation-duration: 10s;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    -ms-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
    -moz-animation-iteration-count: 1;
    -ms-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-delay: 1.2s;
    -moz-animation-delay: 1.2s;
    -ms-animation-delay: 1.2s;
    animation-delay: 1.2s;
  }
  .startAnim .coin1 {
    -webkit-animation-name: coinup;
    -moz-animation-name: coinup;
    -ms-animation-name: coinup;
    animation-name: coinup;
    -webkit-animation-duration: 300ms;
    -moz-animation-duration: 300ms;
    -ms-animation-duration: 300ms;
    animation-duration: 300ms;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-timing-function: ease-in-out;
    -ms-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: 1;
    -moz-animation-iteration-count: 1;
    -ms-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-delay: 1650ms;
    -moz-animation-delay: 1650ms;
    -ms-animation-delay: 1650ms;
    animation-delay: 1650ms;
  }
  .startAnim .coin2 {
    -webkit-animation-name: coinup;
    -moz-animation-name: coinup;
    -ms-animation-name: coinup;
    animation-name: coinup;
    -webkit-animation-duration: 300ms;
    -moz-animation-duration: 300ms;
    -ms-animation-duration: 300ms;
    animation-duration: 300ms;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-timing-function: ease-in-out;
    -ms-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: 1;
    -moz-animation-iteration-count: 1;
    -ms-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-delay: 1850ms;
    -moz-animation-delay: 1850ms;
    -ms-animation-delay: 1850ms;
    animation-delay: 1850ms;
  }
  .startAnim .mario {
    -webkit-animation-name: mario-run-first, mario-sprite-walk, mario-jump-first, mario-sprite-jump;
    -moz-animation-name: mario-run-first, mario-sprite-walk, mario-jump-first, mario-sprite-jump;
    -ms-animation-name: mario-run-first, mario-sprite-walk, mario-jump-first, mario-sprite-jump;
    animation-name: mario-run-first, mario-sprite-walk, mario-jump-first, mario-sprite-jump;
    -webkit-animation-duration: 1000ms, 200ms, 600ms, 600ms;
    -moz-animation-duration: 1000ms, 200ms, 600ms, 600ms;
    -ms-animation-duration: 1000ms, 200ms, 600ms, 600ms;
    animation-duration: 1000ms, 200ms, 600ms, 600ms;
    -webkit-animation-timing-function: ease-in, step-start, linear, step-end;
    -moz-animation-timing-function: ease-in, step-start, linear, step-end;
    -ms-animation-timing-function: ease-in, step-start, linear, step-end;
    animation-timing-function: ease-in, step-start, linear, step-end;
    -webkit-animation-iteration-count: 1, 5, 1, 1;
    -moz-animation-iteration-count: 1, 5, 1, 1;
    -ms-animation-iteration-count: 1, 5, 1, 1;
    animation-iteration-count: 1, 5, 1, 1;
    -webkit-animation-delay: 500ms, 500ms, 1501ms, 1501ms;
    -moz-animation-delay: 500ms, 500ms, 1501ms, 1501ms;
    -ms-animation-delay: 500ms, 500ms, 1501ms, 1501ms;
    animation-delay: 500ms, 500ms, 1501ms, 1501ms;
  }
  .startAnim .enemy1 {
    -webkit-animation-name: enemy1;
    -moz-animation-name: enemy1;
    -ms-animation-name: enemy1;
    animation-name: enemy1;
    -webkit-animation-duration: 1750ms;
    -moz-animation-duration: 1750ms;
    -ms-animation-duration: 1750ms;
    animation-duration: 1750ms;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-timing-function: ease-in-out;
    -ms-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: 1;
    -moz-animation-iteration-count: 1;
    -ms-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-delay: 0s;
    -moz-animation-delay: 0s;
    -ms-animation-delay: 0s;
    animation-delay: 0s;
  }
  .startAnim .qbox1 {
    -webkit-animation: qbox-up-lower 100ms 1650ms linear;
    -moz-animation: qbox-up-lower 100ms 1650ms linear;
    -ms-animation: qbox-up-lower 100ms 1650ms linear;
    animation: qbox-up-lower 100ms 1650ms linear;
  }
  .startAnim .qbox2 {
    -webkit-animation: qbox-up-lower 80ms 1950ms linear;
    -moz-animation: qbox-up-lower 80ms 1950ms linear;
    -ms-animation: qbox-up-lower 80ms 1950ms linear;
    animation: qbox-up-lower 80ms 1950ms linear;
  }
}
@media screen and (max-width: 440px) {
  .startText {
    display: none;
  }
}
@media screen and (min-width: 440px) {
  .startBtn {
    display: none;
  }
  .startAnim.main {
    left: -180px;
    -webkit-animation-name: stagemove-second;
    -moz-animation-name: stagemove-second;
    -ms-animation-name: stagemove-second;
    animation-name: stagemove-second;
    -webkit-animation-duration: 1.8s;
    -moz-animation-duration: 1.8s;
    -ms-animation-duration: 1.8s;
    animation-duration: 1.8s;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    -ms-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
    -moz-animation-iteration-count: 1;
    -ms-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-delay: 0s;
    -moz-animation-delay: 0s;
    -ms-animation-delay: 0s;
    animation-delay: 0s;
  }
  .startAnim .mario {
    background-position: 0 top;
    -webkit-animation-name: mario-jump-second, mario-sprite-jump-2, mario-grow;
    -moz-animation-name: mario-jump-second, mario-sprite-jump-2, mario-grow;
    -ms-animation-name: mario-jump-second, mario-sprite-jump-2, mario-grow;
    animation-name: mario-jump-second, mario-sprite-jump-2, mario-grow;
    -webkit-animation-duration: 1400ms, 1400ms, 180ms;
    -moz-animation-duration: 1400ms, 1400ms, 180ms;
    -ms-animation-duration: 1400ms, 1400ms, 180ms;
    animation-duration: 1400ms, 1400ms, 180ms;
    -webkit-animation-timing-function: linear, step-end, step-end;
    -moz-animation-timing-function: linear, step-end, step-end;
    -ms-animation-timing-function: linear, step-end, step-end;
    animation-timing-function: linear, step-end, step-end;
    -webkit-animation-iteration-count: 1, 1, 5;
    -moz-animation-iteration-count: 1, 1, 5;
    -ms-animation-iteration-count: 1, 1, 5;
    animation-iteration-count: 1, 1, 5;
    -webkit-animation-delay: 0s, 0s, 1400ms;
    -moz-animation-delay: 0s, 0s, 1400ms;
    -ms-animation-delay: 0s, 0s, 1400ms;
    animation-delay: 0s, 0s, 1400ms;
  }
  .startAnim .mushroom {
    -webkit-animation: mushroom-reveal 600ms 800ms linear;
    -moz-animation: mushroom-reveal 600ms 800ms linear;
    -ms-animation: mushroom-reveal 600ms 800ms linear;
    animation: mushroom-reveal 600ms 800ms linear;
  }
  .startAnim .qbox4 {
    -webkit-animation: qbox-up-qbox4 80ms 600ms linear;
    -moz-animation: qbox-up-qbox4 80ms 600ms linear;
    -ms-animation: qbox-up-qbox4 80ms 600ms linear;
    animation: qbox-up-qbox4 80ms 600ms linear;
  }
}
@media screen and (min-width: 540px) {
  .startAnim.main {
    left: -265px;
    -webkit-animation-name: stagemove-third;
    -moz-animation-name: stagemove-third;
    -ms-animation-name: stagemove-third;
    animation-name: stagemove-third;
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -ms-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    -ms-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
    -moz-animation-iteration-count: 1;
    -ms-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-delay: 0s;
    -moz-animation-delay: 0s;
    -ms-animation-delay: 0s;
    animation-delay: 0s;
  }
  .startAnim .mario {
    background-position: -140px -181px;
    -webkit-animation-name: mario-run-second, mario-jump-third, mario-jump-qbox, mario-run-sprite-second;
    -moz-animation-name: mario-run-second, mario-jump-third, mario-jump-qbox, mario-run-sprite-second;
    -ms-animation-name: mario-run-second, mario-jump-third, mario-jump-qbox, mario-run-sprite-second;
    animation-name: mario-run-second, mario-jump-third, mario-jump-qbox, mario-run-sprite-second;
    -webkit-animation-duration: 400ms, 800ms, 400ms, 1200ms;
    -moz-animation-duration: 400ms, 800ms, 400ms, 1200ms;
    -ms-animation-duration: 400ms, 800ms, 400ms, 1200ms;
    animation-duration: 400ms, 800ms, 400ms, 1200ms;
    -webkit-animation-timing-function: linear, linear, linear, step-end;
    -moz-animation-timing-function: linear, linear, linear, step-end;
    -ms-animation-timing-function: linear, linear, linear, step-end;
    animation-timing-function: linear, linear, linear, step-end;
    -webkit-animation-iteration-count: 1, 1, 1, 1;
    -moz-animation-iteration-count: 1, 1, 1, 1;
    -ms-animation-iteration-count: 1, 1, 1, 1;
    animation-iteration-count: 1, 1, 1, 1;
    -webkit-animation-delay: 0s, 500ms, 1300ms, 0s;
    -moz-animation-delay: 0s, 500ms, 1300ms, 0s;
    -ms-animation-delay: 0s, 500ms, 1300ms, 0s;
    animation-delay: 0s, 500ms, 1300ms, 0s;
  }
  .startAnim .qbox5 {
    -webkit-animation: qbox-up-qbox5 80ms 1400ms linear;
    -moz-animation: qbox-up-qbox5 80ms 1400ms linear;
    -ms-animation: qbox-up-qbox5 80ms 1400ms linear;
    animation: qbox-up-qbox5 80ms 1400ms linear;
  }
  .startAnim .coin3 {
    -webkit-animation-name: coinup-two;
    -moz-animation-name: coinup-two;
    -ms-animation-name: coinup-two;
    animation-name: coinup-two;
    -webkit-animation-duration: 300ms;
    -moz-animation-duration: 300ms;
    -ms-animation-duration: 300ms;
    animation-duration: 300ms;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-timing-function: ease-in-out;
    -ms-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: 1;
    -moz-animation-iteration-count: 1;
    -ms-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-delay: 1400ms;
    -moz-animation-delay: 1400ms;
    -ms-animation-delay: 1400ms;
    animation-delay: 1400ms;
  }
  .startAnim .fireball {
    -webkit-animation-name: fireball-rotate, fireball-move;
    -moz-animation-name: fireball-rotate, fireball-move;
    -ms-animation-name: fireball-rotate, fireball-move;
    animation-name: fireball-rotate, fireball-move;
    -webkit-animation-duration: 800ms, 5000ms;
    -moz-animation-duration: 800ms, 5000ms;
    -ms-animation-duration: 800ms, 5000ms;
    animation-duration: 800ms, 5000ms;
    -webkit-animation-timing-function: linear, linear;
    -moz-animation-timing-function: linear, linear;
    -ms-animation-timing-function: linear, linear;
    animation-timing-function: linear, linear;
    -webkit-animation-iteration-count: infinite, 1;
    -moz-animation-iteration-count: infinite, 1;
    -ms-animation-iteration-count: infinite, 1;
    animation-iteration-count: infinite, 1;
  }
  .startAnim .piranha {
    -webkit-animation-name: piranha-move;
    -moz-animation-name: piranha-move;
    -ms-animation-name: piranha-move;
    animation-name: piranha-move;
    -webkit-animation-duration: 1000ms;
    -moz-animation-duration: 1000ms;
    -ms-animation-duration: 1000ms;
    animation-duration: 1000ms;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    -ms-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
    -moz-animation-iteration-count: 1;
    -ms-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-delay: 2000ms;
    -moz-animation-delay: 2000ms;
    -ms-animation-delay: 2000ms;
    animation-delay: 2000ms;
  }
}
@media screen and (min-width: 640px) {
  .startAnim.main {
    left: -650px;
    -webkit-animation-name: stagemove-fourth;
    -moz-animation-name: stagemove-fourth;
    -ms-animation-name: stagemove-fourth;
    animation-name: stagemove-fourth;
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -ms-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    -ms-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
    -moz-animation-iteration-count: 1;
    -ms-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-delay: 0s;
    -moz-animation-delay: 0s;
    -ms-animation-delay: 0s;
    animation-delay: 0s;
  }
}
@media screen and (min-width: 1382px) {
  
}
.startAnim.main,
.startAnim .mario,
.startAnim .goomba,
.startAnim .piranha,
.startAnim .fireball,
.startAnim .mushroom,
.startAnim .qbox-sprite {
  -moz-animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}
@-webkit-keyframes flat-mario {
  0% {
    left: 8.5%;
  }
  20% {
    left: 22.5%;
    top: 20%;
  }
  35% {
    left: 22.5%;
    top: 20%;
  }
  55% {
    left: 22.5%;
    top: 1%;
  }
  100% {
    left: 22.5%;
    top: 1%;
  }
}
@-webkit-keyframes mario-sprite-walk {
  0% {
    background-position: 0 top;
  }
  50% {
    background-position: -63px top;
  }
}
@-webkit-keyframes mario-sprite-walk-large {
  0% {
    background-position: 0 -179px;
  }
  50% {
    background-position: -140px -179px;
  }
  100% {
    background-position: -140px -179px;
  }
}
@-webkit-keyframes mario-sprite-jump {
  0% {
    background-position: -198px top;
  }
  30% {
    background-position: -198px top;
    -webkit-transform: scalex(-1);
    -moz-transform: scalex(-1);
    -o-transform: scalex(-1);
    transform: scalex(-1);
  }
  31% {
    background-position: -198px top;
    -webkit-transform: scalex(1);
    -moz-transform: scalex(1);
    -o-transform: scalex(1);
    transform: scalex(1);
  }
  100% {
    background-position: 0 top;
    -webkit-transform: scalex(-1);
    -moz-transform: scalex(-1);
    -o-transform: scalex(-1);
    transform: scalex(-1);
  }
}
@-webkit-keyframes coinup {
  0% {
    bottom: 182px;
    zoom: 1;
    filter: alpha(opacity=65);
    opacity: 0;
  }
  20% {
    zoom: 1;
    filter: alpha(opacity=65);
    opacity: 1;
  }
  50% {
    bottom: 280px;
  }
  80% {
    zoom: 1;
    filter: alpha(opacity=65);
    opacity: 1;
  }
  100% {
    bottom: 182px;
    zoom: 1;
    filter: alpha(opacity=65);
    opacity: 0;
  }
}
@-webkit-keyframes qbox-up-lower {
  0% {
    bottom: 128px;
    zoom: 1;
    filter: alpha(opacity=65);
    opacity: 0;
  }
  50% {
    bottom: 142px;
    zoom: 1;
    filter: alpha(opacity=65);
    opacity: 1;
  }
  100% {
    bottom: 128px;
    zoom: 1;
    filter: alpha(opacity=65);
    opacity: 1;
  }
}
@-webkit-keyframes mario-run-first {
  0% {
    left: 20px;
  }
  100% {
    left: 338px;
  }
}
@-webkit-keyframes mario-jump-first {
  0% {
    bottom: 30px;
    left: 340px;
  }
  30% {
    bottom: 110px;
    left: 400px;
  }
  50% {
    bottom: 43px;
    left: 410px;
  }
  75% {
    bottom: 110px;
    left: 450px;
  }
  100% {
    bottom: 30px;
    left: 455px;
  }
}
@-webkit-keyframes enemy1 {
  0% {
    left: 500px;
  }
  100% {
    left: 410px;
  }
}
@-webkit-keyframes stagemove-first {
  0% {
    left: 0;
  }
  4% {
    left: -80px;
  }
  8% {
    left: -150px;
  }
  10% {
    left: -180px;
  }
  100% {
    left: -180px;
  }
}
@-webkit-keyframes qbox-up-qbox4 {
  0% {
    bottom: 239px;
    zoom: 1;
    filter: alpha(opacity=65);
    opacity: 0;
  }
  50% {
    bottom: 253px;
    zoom: 1;
    filter: alpha(opacity=65);
    opacity: 1;
  }
  100% {
    bottom: 239px;
    zoom: 1;
    filter: alpha(opacity=65);
    opacity: 1;
  }
}
@-webkit-keyframes mushroom-reveal {
  0% {
    bottom: 254px;
    zoom: 1;
    filter: alpha(opacity=65);
    opacity: 0;
  }
  18% {
    zoom: 1;
    filter: alpha(opacity=65);
    opacity: 1;
  }
  71% {
    zoom: 1;
    filter: alpha(opacity=65);
    opacity: 1;
  }
  72% {
    zoom: 1;
    filter: alpha(opacity=65);
    opacity: 0;
  }
  100% {
    bottom: 294px;
  }
}
@-webkit-keyframes mario-jump-second {
  0% {
    bottom: 30px;
    left: 455px;
  }
  20% {
    bottom: 171px;
    left: 530px;
  }
  30% {
    bottom: 138px;
    left: 554px;
  }
  32% {
    bottom: 138px;
    left: 554px;
  }
  47% {
    bottom: 228px;
    left: 560px;
  }
  62% {
    bottom: 138px;
    left: 560px;
  }
  64% {
    bottom: 138px;
    left: 560px;
  }
  76% {
    bottom: 233px;
    left: 590px;
  }
  80% {
    bottom: 253px;
    left: 600px;
  }
  84% {
    bottom: 273px;
    left: 595px;
  }
  90% {
    bottom: 293px;
    left: 580px;
  }
  100% {
    bottom: 293px;
    left: 580px;
  }
}
@-webkit-keyframes mario-sprite-jump-2 {
  0% {
    background-position: -198px top;
  }
  30% {
    background-position: 0 top;
  }
  33% {
    background-position: -198px top;
  }
  62% {
    background-position: 0 top;
  }
  64% {
    background-position: -198px top;
  }
  100% {
    background-position: 0 top;
  }
}
@-webkit-keyframes mario-grow {
  0% {
    background-position: 0 top;
  }
  33% {
    background-position: 0 -179px;
  }
  66% {
    background-position: 0 top;
  }
  100% {
    background-position: 0 -179px;
  }
}
@-webkit-keyframes stagemove-second {
  0% {
    left: -180px;
  }
  50% {
    left: -250px;
  }
  60% {
    left: -265px;
  }
  100% {
    left: -265px;
  }
}
@-webkit-keyframes stagemove-third {
  0% {
    left: -265px;
  }
  25% {
    left: -360px;
  }
  60% {
    left: -500px;
  }
  100% {
    left: -650px;
  }
}
@-webkit-keyframes mario-run-second {
  0% {
    left: 580px;
    bottom: 293px;
  }
  40% {
    left: 614px;
    bottom: 253px;
  }
  80% {
    left: 626px;
    bottom: 220px;
  }
  100% {
    left: 656px;
    bottom: 220px;
  }
}
@-webkit-keyframes mario-run-sprite-second {
  0% {
    background-position: -140px -181px;
  }
  30% {
    background-position: -140px -181px;
  }
  31% {
    background-position: 0 -179px;
  }
  60% {
    background-position: -205px -181px;
  }
  100% {
    background-position: 0 -179px;
  }
}
@-webkit-keyframes mario-jump-third {
  0% {
    left: 656px;
    bottom: 220px;
  }
  30% {
    left: 740px;
    bottom: 310px;
  }
  40% {
    left: 770px;
    bottom: 320px;
  }
  50% {
    left: 810px;
    bottom: 300px;
  }
  100% {
    left: 920px;
    bottom: 145px;
  }
}
@-webkit-keyframes mario-jump-qbox {
  0% {
    left: 920px;
    bottom: 145px;
  }
  10% {
    left: 940px;
    bottom: 145px;
  }
  30% {
    left: 965px;
    bottom: 170px;
  }
  50% {
    left: 980px;
    bottom: 145px;
  }
  100% {
    left: 1050px;
    bottom: 145px;
  }
}
@-webkit-keyframes qbox-up-qbox5 {
  0% {
    bottom: 202px;
    zoom: 1;
    filter: alpha(opacity=65);
    opacity: 0;
  }
  50% {
    bottom: 216px;
    zoom: 1;
    filter: alpha(opacity=65);
    opacity: 1;
  }
  100% {
    bottom: 202px;
    zoom: 1;
    filter: alpha(opacity=65);
    opacity: 1;
  }
}
@-webkit-keyframes coinup-two {
  0% {
    bottom: 262px;
    zoom: 1;
    filter: alpha(opacity=65);
    opacity: 0;
  }
  20% {
    zoom: 1;
    filter: alpha(opacity=65);
    opacity: 1;
  }
  50% {
    bottom: 360px;
  }
  80% {
    zoom: 1;
    filter: alpha(opacity=65);
    opacity: 1;
  }
  100% {
    bottom: 262px;
    zoom: 1;
    filter: alpha(opacity=65);
    opacity: 0;
  }
}
@-webkit-keyframes fireball-rotate {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes fireball-move {
  0% {
    bottom: 206px;
    left: 810px;
  }
  100% {
    bottom: 550px;
    left: 0px;
  }
}
@-webkit-keyframes piranha-move {
  from {
    height: 74px;
  }
  to {
    height: 0px;
  }
}
@-moz-keyframes flat-mario {
  0% {
    left: 8.5%;
  }
  20% {
    left: 22.5%;
    top: 20%;
  }
  35% {
    left: 22.5%;
    top: 20%;
  }
  55% {
    left: 22.5%;
    top: 1%;
  }
  100% {
    left: 22.5%;
    top: 1%;
  }
}
@-moz-keyframes stagemove-first {
  0% {
    left: 0;
  }
  4% {
    left: -80px;
  }
  8% {
    left: -150px;
  }
  10% {
    left: -180px;
  }
  100% {
    left: -180px;
  }
}
@-moz-keyframes mario-sprite-walk {
  0% {
    background-position: 0 top;
  }
  50% {
    background-position: -63px top;
  }
}
@-moz-keyframes mario-sprite-walk-large {
  0% {
    background-position: 0 -179px;
  }
  50% {
    background-position: -140px -179px;
  }
  100% {
    background-position: -140px -179px;
  }
}
@-moz-keyframes mario-sprite-jump {
  0% {
    background-position: -198px top;
  }
  30% {
    background-position: -198px top;
    -webkit-transform: scalex(-1);
    -moz-transform: scalex(-1);
    -o-transform: scalex(-1);
    transform: scalex(-1);
  }
  31% {
    background-position: -198px top;
    -webkit-transform: scalex(1);
    -moz-transform: scalex(1);
    -o-transform: scalex(1);
    transform: scalex(1);
  }
  100% {
    background-position: 0 top;
    -webkit-transform: scalex(-1);
    -moz-transform: scalex(-1);
    -o-transform: scalex(-1);
    transform: scalex(-1);
  }
}
@-moz-keyframes mario-run-first {
  0% {
    left: 20px;
  }
  100% {
    left: 338px;
  }
}
@-moz-keyframes mario-jump-first {
  0% {
    bottom: 30px;
    left: 340px;
  }
  30% {
    bottom: 110px;
    left: 400px;
  }
  50% {
    bottom: 43px;
    left: 410px;
  }
  75% {
    bottom: 110px;
    left: 450px;
  }
  100% {
    bottom: 30px;
    left: 455px;
  }
}
@-moz-keyframes qbox-up-lower {
  0% {
    bottom: 128px;
    zoom: 1;
    filter: alpha(opacity=65);
    opacity: 0;
  }
  50% {
    bottom: 142px;
    zoom: 1;
    filter: alpha(opacity=65);
    opacity: 1;
  }
  100% {
    bottom: 128px;
    zoom: 1;
    filter: alpha(opacity=65);
    opacity: 1;
  }
}
@-moz-keyframes coinup {
  0% {
    bottom: 182px;
    zoom: 1;
    filter: alpha(opacity=65);
    opacity: 0;
  }
  20% {
    zoom: 1;
    filter: alpha(opacity=65);
    opacity: 1;
  }
  50% {
    bottom: 280px;
  }
  80% {
    zoom: 1;
    filter: alpha(opacity=65);
    opacity: 1;
  }
  100% {
    bottom: 182px;
    zoom: 1;
    filter: alpha(opacity=65);
    opacity: 0;
  }
}
@-moz-keyframes enemy1 {
  0% {
    left: 500px;
  }
  100% {
    left: 410px;
  }
}
@-moz-keyframes stagemove-second {
  0% {
    left: -180px;
  }
  50% {
    left: -250px;
  }
  60% {
    left: -265px;
  }
  100% {
    left: -265px;
  }
}
@-moz-keyframes mario-jump-second {
  0% {
    bottom: 30px;
    left: 455px;
  }
  20% {
    bottom: 171px;
    left: 530px;
  }
  30% {
    bottom: 138px;
    left: 554px;
  }
  32% {
    bottom: 138px;
    left: 554px;
  }
  47% {
    bottom: 228px;
    left: 560px;
  }
  62% {
    bottom: 138px;
    left: 560px;
  }
  64% {
    bottom: 138px;
    left: 560px;
  }
  76% {
    bottom: 233px;
    left: 590px;
  }
  80% {
    bottom: 253px;
    left: 600px;
  }
  84% {
    bottom: 273px;
    left: 595px;
  }
  90% {
    bottom: 293px;
    left: 580px;
  }
  100% {
    bottom: 293px;
    left: 580px;
  }
}
@-moz-keyframes mario-sprite-jump-2 {
  0% {
    background-position: -198px top;
  }
  30% {
    background-position: 0 top;
  }
  33% {
    background-position: -198px top;
  }
  62% {
    background-position: 0 top;
  }
  64% {
    background-position: -198px top;
  }
  100% {
    background-position: 0 top;
  }
}
@-moz-keyframes mario-grow {
  0% {
    background-position: 0 top;
  }
  33% {
    background-position: 0 -179px;
  }
  66% {
    background-position: 0 top;
  }
  100% {
    background-position: 0 -179px;
  }
}
@-moz-keyframes mushroom-reveal {
  0% {
    bottom: 254px;
    zoom: 1;
    filter: alpha(opacity=65);
    opacity: 0;
  }
  18% {
    zoom: 1;
    filter: alpha(opacity=65);
    opacity: 1;
  }
  71% {
    zoom: 1;
    filter: alpha(opacity=65);
    opacity: 1;
  }
  72% {
    zoom: 1;
    filter: alpha(opacity=65);
    opacity: 0;
  }
  100% {
    bottom: 294px;
  }
}
@-moz-keyframes qbox-up-qbox4 {
  0% {
    bottom: 239px;
    zoom: 1;
    filter: alpha(opacity=65);
    opacity: 0;
  }
  50% {
    bottom: 253px;
    zoom: 1;
    filter: alpha(opacity=65);
    opacity: 1;
  }
  100% {
    bottom: 239px;
    zoom: 1;
    filter: alpha(opacity=65);
    opacity: 1;
  }
}
@-moz-keyframes stagemove-third {
  0% {
    left: -265px;
  }
  25% {
    left: -360px;
  }
  60% {
    left: -500px;
  }
  100% {
    left: -650px;
  }
}
@-moz-keyframes mario-run-second {
  0% {
    left: 580px;
    bottom: 293px;
  }
  40% {
    left: 614px;
    bottom: 253px;
  }
  80% {
    left: 626px;
    bottom: 220px;
  }
  100% {
    left: 656px;
    bottom: 220px;
  }
}
@-moz-keyframes mario-run-sprite-second {
  0% {
    background-position: -140px -181px;
  }
  30% {
    background-position: -140px -181px;
  }
  31% {
    background-position: 0 -179px;
  }
  60% {
    background-position: -205px -181px;
  }
  100% {
    background-position: 0 -179px;
  }
}
@-moz-keyframes mario-jump-third {
  0% {
    left: 656px;
    bottom: 220px;
  }
  30% {
    left: 740px;
    bottom: 310px;
  }
  40% {
    left: 770px;
    bottom: 320px;
  }
  50% {
    left: 810px;
    bottom: 300px;
  }
  100% {
    left: 920px;
    bottom: 145px;
  }
}
@-moz-keyframes mario-jump-qbox {
  0% {
    left: 920px;
    bottom: 145px;
  }
  10% {
    left: 940px;
    bottom: 145px;
  }
  30% {
    left: 965px;
    bottom: 170px;
  }
  50% {
    left: 980px;
    bottom: 145px;
  }
  100% {
    left: 1050px;
    bottom: 145px;
  }
}
@-moz-keyframes qbox-up-qbox5 {
  0% {
    bottom: 202px;
    zoom: 1;
    filter: alpha(opacity=65);
    opacity: 0;
  }
  50% {
    bottom: 216px;
    zoom: 1;
    filter: alpha(opacity=65);
    opacity: 1;
  }
  100% {
    bottom: 202px;
    zoom: 1;
    filter: alpha(opacity=65);
    opacity: 1;
  }
}
@-moz-keyframes coinup-two {
  0% {
    bottom: 262px;
    zoom: 1;
    filter: alpha(opacity=65);
    opacity: 0;
  }
  20% {
    zoom: 1;
    filter: alpha(opacity=65);
    opacity: 1;
  }
  50% {
    bottom: 360px;
  }
  80% {
    zoom: 1;
    filter: alpha(opacity=65);
    opacity: 1;
  }
  100% {
    bottom: 262px;
    zoom: 1;
    filter: alpha(opacity=65);
    opacity: 0;
  }
}
@-moz-keyframes fireball-rotate {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes fireball-move {
  0% {
    bottom: 206px;
    left: 810px;
  }
  100% {
    bottom: 550px;
    left: 0px;
  }
}
@-moz-keyframes piranha-move {
  from {
    height: 74px;
  }
  to {
    height: 0px;
  }
}
@-moz-keyframes stagemove-fourth {
  0% {
    left: -650px;
  }
  100% {
    left: -950px;
  }
}
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */

  *text-indent: -9999px;
}
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 100%;
}
.is-hidden,
.hide {
  display: none !important;
  visibility: hidden;
}
.show {
  display: block;
}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
.is-invisible {
  visibility: hidden;
}
.left {
  float: left;
}
.right {
  float: right;
}
.clear {
  clear: both;
  float: none;
}
.mb0 {
  margin-bottom: 0 !important;
}
.mb1 {
  margin-bottom: 16 !important;
}
.mb2 {
  margin-bottom: 24 !important;
}
.mb3 {
  margin-bottom: 30 !important;
}
.mt0 {
  margin-top: 0 !important;
}
.mt1 {
  margin-top: 16 !important;
}
.mt2 {
  margin-top: 24 !important;
}
.mt3 {
  margin-top: 30 !important;
}
